

@model HettisentialMvc.HospitalDto


<main id="main" class="main">

    <div class="pagetitle">
        <h1>Profile</h1>
        <nav>
            <ol class="breadcrumb">
                @* <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Users</li>
                <li class="breadcrumb-item active">Profile</li> *@
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
  <form asp-action="Details"  asp-controller="Hospital" >
      

       @* @foreach (var admin in Model)
       {


       } *@
    
       <dl class="row">
            <dt class="col-sm-2">
                Photo:
            </dt>
             @* <img class="card-img" style="width: 100px; height: 100px;" src="~/myImages/@Model.AdminImage"> *@

            <dd class="col-sm-10">
                <img class="card-img" style="height:200px; width:200px" src="~/myImages/@Model.HealthCenterImage"/> @*src="~/img/avatar/avatar-illustrated-02.png"*@ 
                <a href="~/wwwroot/myImages/@Model.HealthCenterImage" download="@Model.HealthCenterImage">
                    <input class="btn btn-outline-primary" type="button" value="Download Photo" /></a>
            </dd>
            <dt class="col-sm-2">
                Hospital Name:
            </dt>
            <dd class="col-sm-10">
                @Model.HealthCenterName
            </dd>
            <dt class="col-sm-2">
                Hospital Category:
            </dt>
            <dd class="col-sm-10">
                @Model.HealthCenterCategory
            </dd>
            <dt class="col-sm-2">
                Email:
            </dt>
            <dd class="col-sm-10">
                @Model.HEalthCenterEmail
            </dd>
            <dt class="col-sm-2">
                Country:
            </dt>
            <dd class="col-sm-10">
                @Model.Country
            </dd>
            <dt class="col-sm-2">
                State:
            </dt>
            <dd class="col-sm-10">
                @Model.State
            </dd>

        </dl>
    

<dd>
                <a asp-action="GetAllHospital" asp-controller="Hospital">Back</a>
            </dd>

  </form>
  </section>
       
</main>