

@model HettisentialMvc.PharmacyDTo




 @if(ViewBag.measage != null)
{
    <div   style="text-align: center;" >
   
         <label style="font-weight: bolder;" style="color: black;"   >  @ViewBag.measage  </label>
 
    </div>
 
}

@if(ViewBag.Error != null)
        {
            <div style="color: red; font-weight: bolder; background-color: white; padding: 5px">
                <label  style="text-align: center">@ViewBag.Error</label>
                
            </div>
        } 
<div>
    <dl>
        <dd>
            Id
        </dd>
        <dt>
            @Model.Id
        </dt>
        <dd>
            PharmacyName
        </dd>
        <dt>
            @Model.PharmacyName
        </dt>
        <dd>
            AdminId
        </dd>
        <dt>
            @Model.UserId
        </dt>
        <dd>
           @* Address
        </dd>
        <dt>
            @Model.address
        </dt>
        <dd> *@
           PhoneNum
        </dd>
        <dt>
            @Model.PhoneNumber
        </dt>
        <dd>
           HoursOfWork
        </dd>
        <dt>
            @Model.HoursOfWork
        </dt>
    </dl>
    <span>Are you sure you want to delete this Pharmarcy?</span>
    <form asp-action="Delete" asp-controller="Pharmarcy" >
        <input type="hidden" asp-for="Id"/>
        <input type="submit" style= "color:Red" value="Delete" class="btn btn-danger"/>
    </form>
    <a  style = "color: white" asp-action="GetAll">Go back to list of Pharmarcy</a> 
</div>

