



@model IEnumerable<HettisentialMvc.PatientDto>

    <main id="main" class="main">

       <form  asp-controller ="Patient" asp-action="GetAll" method="get" >
    <div class="pagetitle">
       
    </div><!-- End Page Title -->

    <section class="section profile">
        <div class="card-header" style="background-color:#65c9cd;">
            <div class="card-title">
                <h1 class="text-center">USERS</h1>
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        S/N
                    </th>

                    <th>
                        Fullname
                    </th>

                   
                    <th>
                        Email
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Adderess
                    </th>
                     
                    <th>
                        Details
                    </th>
                      <th>
                        Update
                    </th>
                      <th>
                        Delete
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var patients in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => patients.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => patients.Fullname)
                        </td>
                        
                        <td>
                            @Html.DisplayFor(modelItem => patients.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => patients.Address)
                        </td>

                          <td>
                           <img class="card-img" style="width: 300px; height: 300px;" src="~/myImages/@patients.Image">
                        </td>

                       <td>
                      <a asp-action="Details" asp-route-id="@patients.Id">Details</a>
                       </td>
                            
                           <td>
                            <a asp-action="Update" asp-route-id="@patients.Id">Update</a>
                        </td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@patients.Id">Delete</a>
                             </td>
 

                    </tr>
                }
            </tbody>
        </table>
    </section>
       </form>

   
</main>
 <td>
                         